<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Tabela Periódica : Elementos</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>    
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1>Elementos</h1>
                <p><a href="/">[Página Principal]</a></p>
            </header>
            <div class="w3-container">
                <table class="w3-table-all">
                    <tr>
                        <th>Nome</th>
                        <th>Símbolo</th>
                        <th>Número Atómico</th>
                        <th>Grupo</th>
                    </tr>
                    {% for entry in data %}
                    <tr>
                        <td><a href="/elementos/{{ entry.nome.value }}">{{ entry.nome.value }}</a></td>
                        <td>{{ entry.simb.value }}</td>
                        <td>{{ entry.na.value }}</td>
                        {% set group_id = entry.group.value.split('#')[-1] %}
                        <td><a href="/grupos/{{ group_id }}">{{ group_id }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <footer class="w3-container w3-purple">
                <h5>Gerado por topzN::RPCW2024</h5>
            </footer>
        </div>
    </body>
</html>